* {
    box-sizing: border-box;
    text-align: center
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header {
    background: #ebebeb;
    padding: 30px;
    margin-bottom: 10px;
}

Nav {
    background: #ebebeb;
    padding: 30px;
    margin-bottom: 20px;
}

section {
    background: #ebebeb;
}